.homepage__title {
  font-family: Yandex Sans Display;
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  position: absolute;
  top: 32%;
  left: 39%;
  text-align: center;
}
