.problempage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 144px 0 228px 0;
}

.problempage__button {
  width: 768px;
  height: 124px;
  background: #f3f0e9;
  border-radius: 24px;
  border: none;
  font-family: "Yandex Sans Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #212121;
  cursor: pointer;
}

.problempage__button:hover {
  background-color: #DEDEDE;
}

.problempage__container_another-problem {
  margin: 218px 0 302px 0;
}
