.nogoods__container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 0 24px; */
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
}

.nogoods__title {
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  color: #212121;
  margin: 61px 0 0 0;
}

.nogoods__title_plus {
  margin: 275px 0 0 0;
}
