.card__container {
  display: flex;
  flex-direction: row;
  width: 926px;
  height: 204px;
  border: 5px solid #f3f0e9;
  border-radius: 13px;
  align-items: center;
  position: relative;
  margin: 0 0 16px 0;
}

.card__container_green {
  border: 5px solid #2AAD2E;
}

.img__card {
  width: 187px;
  height: 187px;
  background: #f9f7f3;
  border-radius: 16px;
  margin: 0 20px 0 20px;
}

.name__container {
  height: 147.88px;
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 31px 0 25.12px 0;
}

.name__title {
  margin: 0;
  font-family: "Yandex Sans Text";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #212121;
}

.barcode__container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.barcode__text {
  margin: 0;
  font-family: "Yandex Sans Text";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #0044ee;
}

.box__container {
  width: 215px;
  height: 147.88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0 36px 34px;
}

.box__name {
  font-family: 'Yandex Sans Text';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 0 16px 0 16px;
  height: 48px;
  margin: 0;
}

.box__name_bag {
  background: #FFECCC;
}

.box__name_buble {
  background: #CEE4FF;
}

.box__name_stretch {
  background: #FEE374;
}

.box__amount {
  margin: 0;
  font-family: Yandex Sans Text;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: center;
}

.expand__button {
  position: absolute;
  bottom: 8px;
  right: 50%;
  transform: rotate(0);
}

.expanded__button_open {
  transform: rotate(180deg);
}
