.foreman-tooltip {
  position: fixed;
  background: transparent;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  transition: all 0.4s;
  visibility: hidden;
  z-index: 4;
  margin-top: 145px;
}

.foreman-tooltip_opened {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s;
  z-index: 4;
}

.foreman-tooltip__container {
  position: relative;
  width: 57%;
  border-radius: 40px;
  padding: 40px 0;
  color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 5px 46px rgba(0, 0, 0, 0.12), 0px 7px 15px rgba(0, 0, 0, 0.12);
}

.foreman-tooltip__title {
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin: 0 auto 10px;
}

.foreman-tooltip__subtitle {
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin: 0;
}
