.footer {
  height: 136px;
  background: #ffffff;
  box-shadow: 0px 5px 46px rgba(0, 0, 0, 0.12), 0px 7px 15px rgba(0, 0, 0, 0.12);
  position: fixed;
  bottom: 0;
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 136px;
}

.footer__box {
  flex: 1;
  padding: 12px 160px;
  display: flex;
  flex-direction: row;
}

.footer__button {
  margin: 0;
  text-decoration: none;
  color: #212121;
  background: #f3f0e9;
  border-radius: 24px;
  padding: 0 90px 0 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 74px;
  width: 455px;
  box-sizing: border-box;
  border: none;
}

.footer__button:hover {
  background: #dedede;
}

.footer__button-text {
  margin: 0;
  text-align: center;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #212121;
  padding: 22px 0;
  position: relative;
}

.button__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button__box_main {
  justify-content: flex-end;
}

.footer__button_keyboard {
  padding: 0 60px 0 120px;
}

.footer__button-text:before {
  content: "";
  position: absolute;
  top: 17px;
  left: -44px;
  background: url(../../images/editIcon.svg);
  width: 38px;
  height: 38px;
}

.footer__button-text_keyboard:before {
  background: url(../../images/keyboardIcon.svg);
  width: 48px;
  height: 48px;
  top: 12px;
  left: -55px;
}

.footer__button-text_back:before {
  background: url(../../images/arrow_icon_footer.svg);
  width: 21.12px;
  height: 21.12px;
  background-repeat: no-repeat;
  top: 25.5px;
  left: -38.45px;
}

.footer__button_back {
  width: 453px;
}

.footer__anomaly {
  background-color: #ffa200;
  box-shadow: 0px 5px 46px rgba(0, 0, 0, 0.12), 0px 7px 15px rgba(0, 0, 0, 0.12);
}
