.problemButton {
  height: 331px;
  width: 296px;
  margin: 127px 0 0 24px;
  background-color: #f3f0e9;
  border-radius: 24px;
  border: none;
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #212121;
}
