.problemButton {
  padding: 105.5px 16px;
  /* width: 64.5%;*/
  width: 296px;
  background-color: #f3f0e9;
  border-radius: 24px;
  border: none;
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #212121;
  cursor: pointer;
}

.problemButton:hover {
  background-color: #DEDEDE;
}

.problemButton__home {
  margin: 427px 0 0 0;
}

.problemButton__main {
  margin: 127px 0 0 0;
}
